<app-main-nav></app-main-nav>
<h1>My Profile</h1>
<p>Username: {{user.Username}}</p>
<p>Password: ****</p>
<p>Email: {{user.Email}}</p>
<p>Birthday: {{user.Birthday}}</p>

<h2>My Favorite Movies</h2>
<div class="main-div" style="display: flex; overflow: auto;">
    <mat-card class="movie-card" *ngFor="let movie of favoriteMovies;" style="flex: 1 1 auto;">
        <mat-card-header>
            <mat-card-title>{{movie.Title}}</mat-card-title>
            <mat-card-subtitle>Directed by: <button mat-button color="primary"
                    (click)="openDirectorDialog(movie.Director)">{{movie.Director.Name}}</button>
            </mat-card-subtitle>
        </mat-card-header>
        <img class="movie-img" src={{movie.ImagePath}} alt={{movie.Title}} />
        <mat-card-actions>
            <button mat-button color="primary" (click)="openMovieGenreDialog(movie.Genre)">
                Genre
            </button>
            <button mat-button color="primary" (click)="openMovieDescriptionDialog(movie.Description)">
                Description
            </button>
        </mat-card-actions>
    </mat-card>
</div>